<!-- Email Footer Partial -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f7f7f7">
  <!-- Footer Content -->
  <tr>
    <td align="center" style="padding: 30px 20px;">
      <!-- Social Media Links -->
      <table cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td style="padding: 0 10px;">
            <a href="https://facebook.com/nyumbasync" target="_blank">
              <img src="https://nyumbasync.com/email-assets/facebook.png" width="32" alt="Facebook" style="display: block; border: 0;">
            </a>
          </td>
          <td style="padding: 0 10px;">
            <a href="https://twitter.com/nyumbasync" target="_blank">
              <img src="https://nyumbasync.com/email-assets/twitter.png" width="32" alt="Twitter" style="display: block; border: 0;">
            </a>
          </td>
          <td style="padding: 0 10px;">
            <a href="https://instagram.com/nyumbasync" target="_blank">
              <img src="https://nyumbasync.com/email-assets/instagram.png" width="32" alt="Instagram" style="display: block; border: 0;">
            </a>
          </td>
          <td style="padding: 0 10px;">
            <a href="https://linkedin.com/company/nyumbasync" target="_blank">
              <img src="https://nyumbasync.com/email-assets/linkedin.png" width="32" alt="LinkedIn" style="display: block; border: 0;">
            </a>
          </td>
        </tr>
      </table>

      <!-- Footer Links -->
      <table cellspacing="0" cellpadding="0" border="0" style="margin: 20px 0;">
        <tr>
          <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; color: #999999; padding: 5px 10px;">
            <a href="{{config.client.url}}" style="color: #999999; text-decoration: none;">Home</a>
          </td>
          <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; color: #999999; padding: 5px 10px;">
            <a href="{{config.client.url}}/about" style="color: #999999; text-decoration: none;">About Us</a>
          </td>
          <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; color: #999999; padding: 5px 10px;">
            <a href="{{config.client.url}}/contact" style="color: #999999; text-decoration: none;">Contact</a>
          </td>
          <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; color: #999999; padding: 5px 10px;">
            <a href="{{config.client.url}}/faq" style="color: #999999; text-decoration: none;">FAQ</a>
          </td>
        </tr>
      </table>

      <!-- Legal Text -->
      <table cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width: 500px;">
        <tr>
          <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 11px; color: #999999; line-height: 1.5; padding: 10px 0;">
            &copy; {{formatDate 'YYYY'}} NyumbaSync. All rights reserved.<br />
            NyumbaSync, 123 Rental Way, Nairobi, Kenya<br /><br />
            
            <a href="{{config.client.url}}/privacy" style="color: #999999; text-decoration: underline;">Privacy Policy</a> | 
            <a href="{{config.client.url}}/terms" style="color: #999999; text-decoration: underline;">Terms of Service</a><br /><br />
            
            <span style="color: #bbbbbb;">
              This email was sent to {{email}} because you have an account with NyumbaSync. 
              <a href="{{unsubscribeUrl}}" style="color: #bbbbbb; text-decoration: underline;">Unsubscribe</a> or 
              <a href="{{preferencesUrl}}" style="color: #bbbbbb; text-decoration: underline;">manage preferences</a>.
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- Bottom Spacer -->
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td height="20" style="font-size: 0; line-height: 0;">&nbsp;</td>
  </tr>
</table>